/* form.css */
/* Styles for the input form for the user */
form {
  width: 600px;
  height: 200px;
  display: flex;
  padding: 20px 0;
  margin: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

input[type="number"],
input[type="text"] {
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
}

input[type="number"]:hover,
input[type="text"]:hover {
  background-color: rgba(245, 245, 245, 0.906);
}

input[type="number"]:focus,
input[type="text"]:focus {
  border-color: lightgreen;
  background-color: rgba(245, 245, 245, 0.553);
  outline: none;
}

.login-button {
  margin: 20px;
  padding: 10px 20px;
  width: 150px;
}

input[type="submit"] {
  /* margin-top: 10px; */
  width: 100px;
  margin: 20px 0;
  padding: 10px 20px;
}

.stylized-button {
  background-color: lightgreen;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stylized-button:hover {
  background-color: green;
}
